h1 {
    font-size: 160%;
}

.inline {
    display: inline;
}

.signature {
    border-top: solid;
    padding-top: 0;
    border-width: thin;
    clear: both;
    min-height: 3.125rem;
    text-align: center;
}

body {
    overflow-x: hidden;
}
body, html {
    height: 100%;
}
body {
    margin: 0;
    font-family: Metropolis,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #687281;
    text-align: left;
    background-color: #eff3f9;
}

*, :after, :before {
    box-sizing: border-box;
}

textarea {
    font-family: Metropolis,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}