.groups {
}

.nogroups {
    display: none;
}

.navbar-brand {
  margin-bottom: 5rem;
}

.home {
  height: calc(100vh - 50px);
  padding: 1.875rem;
}

#public-groups-table tr a{
    margin-left: 0.9375rem;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #0058e4;
}

a:hover {
    color: #0a429c;
}

label {
    display: block;
}

@media only screen and (max-device-width: 768px) {
    .home {
        padding: 0.625rem;
    }

}
